[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/lightning-rod"]
	path = lib/lightning-rod
	url = https://github.com/Inco-fhevm/lightning-rod
